setuptools
pip
virtualenv
Cython
numpy
notebook
jupyterlab
matplotlib
pandas
scipy
scikit-learn
pygame
arcade
p5
py5[jupyter]
py5[extras]
matplotlib
pillow
line_profiler
jpype1
colour
shapely
trimesh
py5jupyter